header {
  background-color: #111111;
  color: #fff;
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  position: relative;
  flex-wrap: wrap;
}

.content h1 {
  font-size: 2rem;
  font-family: "Viga", sans-serif;
  font-weight: bold;
}

.content h1 > span {
  color: #6344bd;
}

.nav,
ul {
  display: flex;
  align-items: center;
  gap: 1.25rem;
}

.nav {
  font-family: var(--principal);
  flex-wrap: wrap;
}

li,
a {
  color: #fff;
}

.btn {
  display: flex;
  gap: 0.6rem;
  cursor: pointer;
}

.search {
  display: flex;
}

.search input,
button {
  border: none;
  height: 2.2rem;
}

.search button {
  border-radius: 0px 6px 6px 0px;
  cursor: pointer;
  background-color: #6344bd;
  width: 2.75rem;
}

.search input {
  width: 14rem;
  border-radius: 6px 0px 0px 6px;
  font-size: 1.2rem;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  padding-left: 10px;
}

.search button:focus,
.search input:focus,
.search button:active,
.search input:active {
  outline: 1px solid #865dff;
}

.search button:hover {
  background-color: #865dff;
}

.comprar {
  position: relative;
  cursor: pointer;
}

.comprar::before {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  background: url(./assets/svg/expandir.svg) center center;
  position: absolute;
  top: 2px;
  right: -17px;
}

.comprar .dropdownMenu {
  display: none;
}

.dropdownMenu {
  position: absolute;
  top: 40px;
  left: 0;
  background-color: #1b1b1b;
  padding: 20px;
  z-index: 1000;
  border-radius: 6px;
}

.dropdownMenu li a:hover,
.dropdownMenu li a:active {
  color: #865dff;
  font-weight: bold;
}

.comprar:hover .dropdownMenu,
.comprar.ativo .dropdownMenu {
  display: flex;
}

.dropdownMenu::after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #1b1b1b;
  position: absolute;
  top: -8px;
  left: 60px;
}

.menuNav {
  display: flex;
  gap: 20px;
}

.menuMobile {
  display: none;
}

@media (max-width: 480px) {
  .menuMobileContainer {
    display: flex;
    cursor: pointer;
  }
  .menuMobile {
    display: block;
    width: 24px;
    height: 2px;
    background-color: #fff;
    border-radius: 4px;
    align-self: center;
    box-shadow: 0px -8px 0px 0px white, 0px 8px 0px 0px white;
    cursor: pointer;
  }
  .menuNav {
    display: none;
  }
  .menuNav.ativo {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 20px;
    right: 0px;
    background-color: #111111;
    height: 100vh;
    padding: 60px 20px;
    z-index: 1000;
    gap: 40px;
  }
  .menuNav ul {
    flex-direction: column;
    font-size: 1.3rem;
    align-items: start;
  }
  .search input {
    width: 11rem;
    font-size: 1rem;
  }
  .comprar::before {
    top: 6px;
    right: -20px;
  }
  .comprar.ativo::before {
    top: 6px !important;
    right: 30px !important;
  }
  .comprar:hover .dropdownMenu {
    display: none;
  }
  .comprar.ativo:hover .dropdownMenu {
    display: flex;
  }
  .dropdownMenu {
    position: unset;
    top: 40px;
    left: 0;
    background-color: transparent;
    padding: 20px;
    font-size: 1.2rem !important;
  }
  .dropdownMenu::after {
    display: none;
  }
  .menuBtn {
    width: 34px;
    height: 34px;
    font-size: 1.2rem;
    border: 1px solid #fff;
    align-self: flex-end !important;
    
  }
}

@media (max-width: 360px) {
  .content h1 {
    font-size: 1.2rem;
  }
}