:root {
  --principal: "Roboto", sans-serif;;
}

body {
  margin: 0 auto;
  padding: 0;
  background-color: #ececec;
}

h1,
h2,
h3,
a,
p,
ul,
li {
  font-family: var(--principal);
  padding: 0;
  margin: 0;
}

a,
ul,
li {
  text-decoration: none;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

.btn {
  align-self: flex-start;
  border-radius: 6px;
  background: #0D0D0D;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

.App {
  Display: flex;
  flex-direction: column;
  min-height: calc(100vh + 21.75rem);
}

.AppBody {
  flex: 1;
}

.swiper-button-prev, .swiper-button-next {
  width: 16px !important;
  height: 16px !important;
  padding: 16px;
  border-radius: 50%;
  background-color: #0D0D0D;
  color: #fff !important;
  text-align: center;
}

.swiper-button-prev:after, .swiper-button-next:after {
  font-size: 1rem !important;
}